body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.flex {
  display: flex;
  align-items: baseline;
}

.space {
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ============== common ============== */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

.no-padding {
  padding: 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/*/ END common */

/* ============== header ============== */

.header-container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-list,
.contact-header {
  display: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-position {
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo-part {
  color: #2e2f42;
}

.burger-btn {
  border: none;
  background-color: transparent;
  padding: 0;
}

.icon-burger {
  display: block;
  fill: #2f2f37;
}

/* ======= mobile menu ======= */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-menu-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 288px;
  padding: 72px 0 40px 0;
  margin: 0 auto;
}

.icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 1px solid #2e2f42;
  fill: #2e2f42;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-lst {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
}

.mobile-menu-lnk {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-lnk:hover,
.mobile-menu-lnk:focus {
  color: #404bbf;
}

.mobile-menu-contacts {
  display: flex;
  flex-direction: column;
  flex-direction: column-reverse;
  gap: 24px;
  padding: 0;
}

.mobile-menu-contact {
  font-weight: 500;
  font-size: 20px;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-contact:hover,
.mobile-menu-contact:focus {
  color: #4d5ae5;
}

.menu-soc-lst {
  display: flex;
  justify-content: space-between;
  padding: 0;
  gap: 16px;
}

.menu-soc-bottom {
  padding-top: 48px;
}

.soc-menu {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 16px;
}

.soc-link-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-link-menu:hover,
.soc-link-menu:focus {
  background-color: #404bbf;
}

.current {
  color: #404bbf;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

/*/ END mobile menu */

/* ======= mobile modal ======= */

.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-modal.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-top-modal {
  width: 360px;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: 0;
  fill: #ffffff;
}

.icon-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filed-wrapper {
  margin-bottom: 8px;
}

.filed-wrapper-last {
  margin-bottom: 16px;
}

.logo-field-wrapper {
  position: relative;
}

.label-field {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  height: 40px;
  color: #2e2f42;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  outline: none;
  border-color: #4d5ae5;
}

.input-field:focus + .icon-field {
  fill: #4d5ae5;
}

.icon-field {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus {
  outline: none;
  border-color: #4d5ae5;
}

.textarea-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.chechbox-wrapper {
  margin-bottom: 24px;
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custome:checked + .label-field > .checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox-custome:focus + .label-field > .checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.link-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.submit-button {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 169px;
  height: 56px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}

/*/ END mobile-modal */

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .menu-list {
    display: flex;
    gap: 40px;
    padding-left: 120px;
  }

  .menu {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .menu::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu:hover::after,
  .menu:focus::after,
  .menu.current::after {
    opacity: 1;
  }

  .menu:hover,
  .menu:focus,
  .menu.current {
    color: #404bbf;
  }

  .contact-header {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    margin-left: auto;
  }

  .contact-header-link {
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contact-header-link:hover,
  .contact-header-link:focus {
    color: #404bbf;
  }

  .font-style-normal {
    font-style: normal;
  }

  .menu-contacts li:not(:last-child) {
    padding-bottom: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .menu-list {
    padding-left: 76px;
  }

  .menu-contacts li:not(:last-child) {
    padding: 0;
  }

  .menu-contacts {
    display: flex;
    gap: 40px;
  }

  .contact-header {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-left: auto;
  }
}

/*/ END header */

/* =========== main =========== */

/* =========== hero =========== */

.main-section-top {
  color: #ffffff;
  background-color: #2e2f42;
  padding: 72px;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-section1-mob.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 320px;
  margin: 0 auto;
}

.header {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 216px;
  padding-bottom: 72px;
  margin: 0 auto;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-resolution: 192dpi) {
  .main-section-top {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg-section1-mob@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .main-section-top {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg-section1-tab.jpg");

    max-width: 768px;
  }
  .header {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    padding-bottom: 36px;
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .main-section-top {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/bg-section1-tab@2x.jpg");
  }
}

@media screen and (min-width: 1158px) {
  .main-section-top {
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-section1.jpg");
    max-width: 1440px;
  }

  .header {
    margin: 0 auto 48px;
  }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
  .main-section-top {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-section1@2x.jpg");
  }
}
/*/ END hero */
/* =========== section 2 =========== */

.benefits-sec {
  padding: 96px 0;
}

.benefits-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  padding: 0;
}

.benefits-li {
  width: 100%;
}

.box-icon-benefits {
  display: none;
  visibility: hidden;
}

.title-sub {
  font-size: 36px;
  line-height: 1.1;
  color: #2e2f42;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .benefits-li {
    width: calc((100% - 24px) / 2);
  }

  .title-sub {
    text-align: start;
  }

  .benefits-ul {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .box-icon-benefits {
    display: contents;
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .benefits-li {
    width: calc((100% - 72px) / 4);
  }

  .benefits-ul {
    gap: 24px;
  }

  .title-sub {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    margin-bottom: 8px;
  }
}
/*/ END section 2 */
/* =========== section 3 =========== */

.our-team {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.title-our-team {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.our-team .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 72px 0;
  padding: 0;
}

.our-team-li {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
}

.title-sub-our-team {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.ul-social-ourteam {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 0;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: #404bbf;
}

.svg-social-icons {
  width: 100%;
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .our-team-flex {
    gap: 64px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }
}
/*/ END section 3 */
/* =========== section 4 =========== */

.portfolio-sec {
  padding: 96px 0;
}

.title-our-portfolio {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 700;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 0;
  padding: 0;
}

.portfolio-li {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-li:hover .conteiner-text {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.conteiner-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-conteiner {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.title-sub-portfolio {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-sec .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
  .portfolio-ul {
    gap: 72px 24px;
  }

  .portfolio-li {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .title-our-portfolio {
    font-weight: 500;
  }

  .portfolio-sec {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-li {
    width: calc((100% - 48px) / 3);
  }
}

/*/ END section 4 */
/*/ END main */

/* ======= footer ======= */
.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.flex-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.logo-footer-center {
  display: flex;
  justify-content: center;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer .text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 288px;
}

.p-social-footer {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
  padding: 0;
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

.div-content-subscribe {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
}

.input-subscribe {
  width: 288px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  line-height: 24px; /* 200% */
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
}

.input-subscribe::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 2em;
  letter-spacing: 0.48px;
}

.submit-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border: 0;
  border-radius: 4px;
  background-color: #4d5ae5;
  padding: 8px 24px;
  margin: 16px auto 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.submit-subscribe:hover {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .flex-footer {
    gap: 72px 24px;
  }

  .tab {
    max-width: 584px;
  }

  .p-social-footer {
    text-align: start;
    margin-bottom: 16px;
  }

  .footer-social {
    display: block;
    max-width: 208px;
  }

  .logo-footer-center {
    justify-content: start;
  }

  .footer .text {
    max-width: 264px;
  }

  .input-subscribe {
    max-width: 264px;
  }

  .div-subscribe-form {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 552px;
  }

  .submit-subscribe {
    display: inline-flex;
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .tab {
    max-width: 1158px;
  }

  .flex-footer {
    gap: 0;
  }

  .logo-footer-div {
    padding: 0 120px 0 0;
  }

  .footer-social-ul {
    padding: 0 80px 0 0;
  }

  .div-subscribe-form {
    width: 453px;
  }

  .div-content-subscribe {
    display: block;
    padding: 0 0 0 80px;
  }
}

/*/ END footer */
