body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;
}

input {
  font-family: inherit;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  max-width: 1158px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.flex {
  display: flex;
  align-items: baseline;
}

.space {
  justify-content: space-between;
}

/* ===== HEADER ======= */

.header-container {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.nav-menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-part {
  color: #2e2f42;
}

.menu-list {
  display: flex;
  gap: 40px;
}

.menu-contacts {
  display: flex;
  gap: 40px;
}

.menu {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.menu::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu:hover::after,
.menu:focus::after,
.menu.current::after {
  opacity: 1;
}

.menu:hover,
.menu:focus,
.menu.current {
  color: #404bbf;
}

.contact-header {
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-left: auto;
}

.contact-header-link {
  color: #434455;
  margin-left: auto;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header-link:hover,
.contact-header-link:focus {
  color: #404bbf;
}

.font-style-normal {
  font-style: normal;
}

/* ===== END HEADER ====== */

/* ===== MAIN ====== */

.main-section-top {
  color: #ffffff;
  background-color: #2e2f42;
  padding: 188px 0;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/bg-section1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  font-size: 56px;
  text-align: center;
  color: #fff;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto 48px;
}

.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  border: 0;
  border-radius: 4px;
  font-weight: 500;
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.benefits-sec {
  padding: 120px 0;
}

.benefits-sec .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.benefits-sec .title-sub {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.box-icon-benefits {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}

.benefits-ul {
  display: flex;
  gap: 24px;
}

.benefits-li {
  width: calc((100% - 72px) / 4);
}

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.title-our-team {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-flex {
  display: flex;
  gap: 24px;
}

.team-info {
  padding: 32px 0;
}

.title-sub-our-team {
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.ul-social-ourteam {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.link-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: #404bbf;
}

.svg-social-icons {
  width: 100%;
  fill: #f4f4fd;
}

.our-team-li {
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.title-our-portfolio {
  font-size: 36px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-li {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-li:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-li:hover .conteiner-text {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.conteiner-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-conteiner {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.title-sub-portfolio {
  font-size: 20px;
  color: #2e2f42;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.portfolio-sec {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-sec .text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== END MAIN ====== */

/* ===== FOOTER ====== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.17;
  font-weight: 700;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer-part {
  color: #f4f4fd;
}

.footer .text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.logo-footer-div {
  margin-right: 120px;
}

.footer-social-ul {
  display: flex;
  gap: 16px;
}

.p-social-footer {
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  margin-bottom: 16px;
}

.link-social-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-footer:hover,
.link-social-footer:focus {
  background-color: #31d0aa;
}

.form-subscribe {
  display: flex;
  gap: 24px;
}

.label-subscribe {
  display: flex;
  gap: 24px;
}

.input-subscribe {
  width: 264px;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 12px;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
}

.input-subscribe::placeholder {
  color: #fff;
  font-size: 12px;
  line-height: 24px; /* 200% */
  letter-spacing: 0.48px;
}

.submit-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 165px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  border: 0;
  border-radius: 4px;
  background-color: #4d5ae5;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.submit-subscribe:hover {
  background-color: #31d0aa;
}

.icon-telegram {
  margin-left: 16px;
}

/* ===== END FOOTER ====== */

/* ===== MODAL ===== */

.back-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(46, 47, 66, 0.4);
  /* opacity: 0;
  pointer-events: none; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .back-modal.is-open {
  opacity: 1;
  pointer-events: all;
} */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 408px;
  min-height: 584px;
  overflow-y: hidden;
  overflow-x: hidden;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-top-modal {
  width: 360px;
  color: #2e2f42;
  text-align: center;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.icon-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover,
.icon-close:focus {
  background-color: #404bbf;
  fill: #fff;
  border: 0;
  fill: #ffffff;
}

.icon-close-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filed-wrapper {
  margin-bottom: 8px;
}

.filed-wrapper-last {
  margin-bottom: 16px;
}

.logo-field-wrapper {
  position: relative;
}

.label-field {
  display: block;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.input-field {
  width: 100%;
  height: 40px;
  color: #2e2f42;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-field:focus {
  outline: none;
  border-color: #4d5ae5;
}

.input-field:focus + .icon-field {
  fill: #4d5ae5;
}

.icon-field {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  width: 100%;
  height: 120px;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.48px;
  padding: 8px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus {
  outline: none;
  border-color: #4d5ae5;
}

.textarea-field::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.48px;
}

.chechbox-wrapper {
  margin-bottom: 24px;
}

.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custome:checked + .label-field > .checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.checkbox-custome:focus + .label-field > .checkbox {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.link-privacy {
  color: #4d5ae5;
  text-decoration: underline;
}

.submit-button {
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  min-width: 169px;
  height: 56px;
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 16px 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover,
.submit-button:focus {
  background-color: #404bbf;
}

/* ===== END MODAL ===== */
